In [3]:
import pandas as pd

In [68]:
#unmatched = pd.read_csv("data/generated/unmatched.csv")
NROWS = None

In [67]:
df_lovac_owners = pd.read_csv("data/matched.csv").filter(
    regex="_owner_1", 
    nrows=NROWS
)

In [71]:
df_lovac_owners

,ff_owner_1_birth_date,ff_owner_1_address_1,ff_owner_1_address_2,ff_owner_1_address_3,ff_owner_1_address_4,ff_owner_1_name
0,NaN,NaN,0110 ALL HENRI MARTIN,NaN,01400 NEUVILLE-LES-DAMES,SCI L'AMITIE
1,25/09/1969,NaN,0383BCHE DES CHAMPAGNES,NaN,38890 SALAGNON,BREVET SYLVAIN GEORGES
2,20/06/1950,NaN,0292 ALL DES HIRONDELLES,NaN,01440 VIRIAT,BOZONNET ROLAND LOUIS
3,13/01/1972,NaN,0356 GR GRANDE RUE,NaN,01370 BENY,MERLE ELODIE
4,12/11/1959,NaN,0165 RUE DU LAVOIR,NaN,01600 REYRIEUX,CHANEL GILLES
...,...,...,...,...,...,...
1048570,31/08/1972,BL2 26,0066 RUE DES COURONNES,NaN,75020 PARIS,BADUEL STANISLAS GUILLAUME
1048571,04/02/1967,NaN,BEG SAINT OUARNEAU,NaN,29300 BAYE,JACOB GUENAELLE GENEVIEVE ODILE
1048572,11/04/1981,ROUTE DE TACHEN LOUADEC,VERLUZEN,NaN,29300 BAYE,LIEURY XAVIER
1048573,23/05/1966,3 EME,0003 RUE PIERRET,NaN,92200 NEUILLY SUR SEINE,CHARLET JEAN CLAUDE
1048574,05/09/1956,NaN,PETIT PENHARS,NaN,29360 CLOHARS CARNOET,GUYADER PATRICE PAUL MARIE HUGUES ROGER

In [69]:
df_ff_owners = pd.read_csv("data/proprietaire.csv", 
                           sep=";", 
                           usecols=["idprodroit", "idprocpte", "idpersonne", "dnomus", "dprnus", "dlign3", "dlign4", "dlign5","dlign6"],
                           nrows=NROWS)

In [81]:
df_owners_dedup = df_ff_owners.groupby("idpersonne").agg({
    "idprodroit": "unique",
    "idprocpte": "unique", 
    "dlign3": "first", 
    "dlign4":"first", 
    "dlign5":"first",
    "dlign6": "first",
    "dnomus": "first",
    "dprnus": "first", 
    "name":"first"
})

In [82]:
df_owners_dedup.shape

(7652936, 9)

In [80]:
df_ff_owners[df_ff_owners[["name","dlign4", "dlign6"]].duplicated()]

,idprodroit,idprocpte,idpersonne,dlign3,dlign4,dlign5,dlign6,dnomus,dprnus,name
4,01001A0002201,01001A00022,01MBLFGT,NaN,0685 RTE DU CHATEAU,NaN,01400 L'ABERGEMENT-CLEMENCIAT,MUNET,CHANTAL,CHANTAL MUNET
8,01001B0022602,01001B00226,01MBSDGV,LA SARRASINE,NaN,NaN,01750 REPLONGES,BEVY,ALAIN JEAN,ALAIN JEAN BEVY
29,01001M0019003,01001M00190,01MBLFGT,NaN,0685 RTE DU CHATEAU,NaN,01400 L'ABERGEMENT-CLEMENCIAT,MUNET,CHANTAL,CHANTAL MUNET
42,01001T0003901,01001T00039,01MBLBZZ,NaN,0763 RTE DES BASQUES,NaN,01400 L'ABERGEMENT-CLEMENCIAT,TEPPE,REMI,REMI TEPPE
82,01004+0059601,01004+00596,01PBBQTT,MME DI PERNA,0028 RUE JEAN JAURES,NaN,01500 AMBERIEU-EN-BUGEY,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
8872040,97617I0004002,97617I00040,97MBC93S,MTSAPERE,"0004 RUE MKIRI WANGUIZI,AMBASSA",NaN,97600 MAMOUDZOU,ATTOUMANI,IBN-DJADID-ADINANI,IBN-DJADID-ADINANI ATTOUMANI
8872041,97617I0004001,97617I00040,97MBC93T,NaN,0004 QUA MOSQUEE DU NGUIZI - MT,NaN,97600 MAMOUDZOU,ISSOUFI,SATOUVI,SATOUVI ISSOUFI
8872042,97617I0004201,97617I00042,97MBBVT5,BP 52,LE ROCHER,NaN,97615 DZAOUDZI,ISSOUFALI,SEFOUDINE PAUL,SEFOUDINE PAUL ISSOUFALI
8872077,97617O0000301,97617O00003,97MBC3VT,NaN,NaN,NaN,97680 TSINGONI,OUMARI BACAR,NaN,NaN
8872088,97617S0020001,97617S00200,97MBC6CB,NaN,NaN,NaN,97680 TSINGONI,SOUF AMINA,NaN,NaN

In [77]:
df_ff_owners[df_ff_owners[["name","dlign4", "dlign6"]].duplicated]

KeyError: Index(['dlign5', 'dlign3', 'idpersonne', 'dnomus', 'dprnus', 'idprocpte',
       'idprodroit'],
      dtype='object')

In [70]:
df_ff_owners["name"] = df_ff_owners["dprnus"] + " " + df_ff_owners["dnomus"]

In [ ]:
df_ff_owners.

In [76]:
df_ff_owners.merge(df_lovac_owners, left_on=["name","dlign4", "dlign6"], right_on=["ff_owner_1_name", "ff_owner_1_address_2", "ff_owner_1_address_4"]).shape

(14224014, 16)

# Explore

In [32]:
df_ff_owners = pd.read_csv("data/proprietaire.csv", sep=";", nrows=10)

In [45]:
df_ff_owners.iloc[[2, 3, 4]][["idcom", "idprodroit","dnomus", "dprnus", "ddenom", 'dnomlp', 'dprnlp', 'ccodrotxt', 'ccodro']]

,idcom,idprodroit,dnomus,dprnus,ddenom,dnomlp,dprnlp,ccodrotxt,ccodro
2,1001,01001A0002002,MUNET,MELCHIOR,MUNET/MELCHIOR MARIE EDOUARD,MUNET,MELCHIOR MARIE,NU-PROPRIETAIRE (ASSOCIE AVEC U),N
3,1001,01001A0002001,MUNET,CHANTAL,AMAUDRIC DU CHAFFAUT/CHANTAL MARIE HENRIETTE G...,AMAUDRIC DU CHAFFAUT,CHANTAL MARIE H,USUFRUITIER (ASSOCIE AVEC N),U
4,1001,01001A0002201,MUNET,CHANTAL,AMAUDRIC DU CHAFFAUT/CHANTAL MARIE HENRIETTE G...,AMAUDRIC DU CHAFFAUT,CHANTAL MARIE H,USUFRUITIER (ASSOCIE AVEC N),U

In [44]:
a = dict(df_ff_owners.iloc[3]) 
b= dict(df_ff_owners.iloc[4])
for (k,v ), (k1, v1) in zip(a.items(), b.items()):
    if v != v1:
        print("-----")
        print(k)
        print(v)
        print(v1)

-----
idprodroit
01001A0002001
01001A0002201
-----
idprocpte
01001A00020
01001A00022
-----
dnupro
A00020
A00022
-----
ccodem
nan
nan
-----
ccodemtxt
nan
nan
-----
dnatpr
nan
nan
-----
dnatprtxt
nan
nan
-----
ccogrm
nan
nan
-----
ccogrmtxt
nan
nan
-----
dsglpm
nan
nan
-----
dforme
nan
nan
-----
dlign3
nan
nan
-----
dlign5
nan
nan
-----
ccopay
nan
nan
-----
dindic
nan
nan
-----
dsiren
nan
nan
-----
topja
nan
nan
-----
datja
nan
nan
-----
dformjur
nan
nan
-----
idpk
72
76

In [46]:
a

{'idprodroit': '01001A0002001',
 'idprocpte': '01001A00020',
 'idpersonne': '01MBLFGT',
 'idvoie': 10010095.0,
 'idcom': 1001,
 'idcomtxt': "L'ABERGEMENT-CLEMENCIAT",
 'ccodep': 1,
 'ccodir': 0,
 'ccocom': 1,
 'dnupro': 'A00020',
 'dnulp': 1,
 'ccocif': 4101,
 'dnuper': 'MBLFGT',
 'ccodro': 'U',
 'ccodrotxt': 'USUFRUITIER (ASSOCIE AVEC N)',
 'typedroit': 'G',
 'ccodem': nan,
 'ccodemtxt': nan,
 'gdesip': 1,
 'gtoper': 1,
 'ccoqua': 2.0,
 'dnatpr': nan,
 'dnatprtxt': nan,
 'ccogrm': nan,
 'ccogrmtxt': nan,
 'dsglpm': nan,
 'dforme': nan,
 'ddenom': 'AMAUDRIC DU CHAFFAUT/CHANTAL MARIE HENRIETTE GERMAINE',
 'gtyp3': 9,
 'gtyp4': 2,
 'gtyp5': 9,
 'gtyp6': 2,
 'dlign3': nan,
 'dlign4': '0685 RTE DU CHATEAU',
 'dlign5': nan,
 'dlign6': "01400 L'ABERGEMENT-CLEMENCIAT",
 'ccopay': nan,
 'ccodep1a2': 1,
 'ccodira': 0,
 'ccocomadr': 1,
 'ccovoi': 75.0,
 'ccoriv': 95.0,
 'dnvoiri': 685.0,
 'dindic': nan,
 'ccopos': 1400,
 'dqualp': 'MME',
 'dnomlp': 'AMAUDRIC DU CHAFFAUT',
 'dprnlp': 'CHANTAL MARIE H',
 'jdatnss': '22/10/1935',
 'dldnss': '13 ARLES',
 'dsiren': nan,
 'topja': nan,
 'datja': nan,
 'dformjur': nan,
 'dnomus': 'MUNET',
 'dprnus': 'CHANTAL',
 'locprop': 1,
 'locproptxt': 'MEME COMMUNE',
 'catpro2': 'X1',
 'catpro2txt': 'PERSONNE PHYSIQUE',
 'catpro3': 'X1a',
 'catpro3txt': 'PERSONNE PHYSIQUE',
 'idpk': 72}

# Examples