In [1]:
import pandas as pd

In [39]:
biscom_owners_cols = ["Proprietaire", "Adresse1", "Adresse2", "Adresse3", "Adresse4"]

In [40]:
ff_owners_columns = [
 'Ff Jdatnss 1',
 'Ff Ddenom 1',
 'Ff Dlign3 1',
 'Ff Dlign4 1',
 'Ff Dlign5 1',
 'Ff Dlign6 1',
 'Ff Jdatnss 2',
 'Ff Ddenom 2',
 'Ff Dlign3 2',
 'Ff Dlign4 2',
 'Ff Dlign5 2',
 'Ff Dlign6 2',
 'Ff Jdatnss 3',
 'Ff Ddenom 3',
 'Ff Dlign3 3',
 'Ff Dlign4 3',
 'Ff Dlign5 3',
 'Ff Dlign6 3',
 'Ff Jdatnss 4',
 'Ff Ddenom 4',
 'Ff Dlign3 4',
 'Ff Dlign4 4',
 'Ff Dlign5 4',
 'Ff Dlign6 4',
 'Ff Jdatnss 5',
 'Ff Ddenom 5',
 'Ff Dlign3 5',
 'Ff Dlign4 5',
 'Ff Dlign5 5',
 'Ff Dlign6 5',
 'Ff Jdatnss 6',
 'Ff Ddenom 6',
 'Ff Dlign3 6',
 'Ff Dlign4 6',
 'Ff Dlign5 6',
 'Ff Dlign6 6'
]

In [41]:
df[biscom_owners_cols].head()

  Proprietaire                 Adresse1 Adresse2 Adresse3        Adresse4
0          NaN      61C CHE DES BAMBOUS      NaN      NaN  01340 ATTIGNAT
1          NaN  383B CHE DES CHAMPAGNES      NaN      NaN  38890 SALAGNON
2          NaN  292 ALL DES HIRONDELLES      NaN      NaN    01440 VIRIAT
3          NaN           356 GRANDE RUE      NaN      NaN      01370 BENY
4          NaN        165 RUE DU LAVOIR      NaN      NaN  01600 REYRIEUX

In [42]:
from collections import defaultdict


ff_owners_columns_separated = defaultdict(list)
for col in ff_owners_columns:
    index = col.split(" ")[-1]
    ff_owners_columns_separated[index].append(col)

In [ ]:
pd.to_datetime()

In [69]:
import numpy as np


def clean_df_ff(df):
    address_cols = df.filter(regex="lign").columns
    name_col = df.filter(regex="denom").columns[0]
    date_col = df.filter(regex="datnss").columns[0]
    
    df["address"] = np.add.reduce(df[address_cols].fillna(""), axis=1)
    df["name"] = df[name_col]
    df["birth_date"] = pd.to_datetime(df[date_col], errors="ignore", dayfirst=True)
    return df[["address", "name", "birth_date"]]

In [70]:
from tqdm.auto import tqdm

In [71]:
all_data = []

for owner_ff_cols in tqdm(list(ff_owners_columns_separated.values())):
    df_owner_ff = pd.read_csv("data/zlovac_2023.csv", usecols=owner_ff_cols)
    df_owner_ff = clean_df_ff(df_owner_ff)
    all_data.append(df_owner_ff)
    
all_owners = pd.concat(all_data)
print(all_owners.shape)
all_owners = all_owners.drop_duplicates()
print(all_owners.shape)

  0%|          | 0/6 [00:00<?, ?it/s]

/var/folders/_v/10w6h3595jb25htv66pv5fq80000gn/T/ipykernel_64067/1359723113.py:4: DtypeWarning: Columns (73) have mixed types. Specify dtype option on import or set low_memory=False.
  df_owner_ff = pd.read_csv("data/zlovac_2023.csv", usecols=owner_ff_cols)

(6000, 3)
(576, 3)

/var/folders/_v/10w6h3595jb25htv66pv5fq80000gn/T/ipykernel_64067/1359723113.py:4: DtypeWarning: Columns (79) have mixed types. Specify dtype option on import or set low_memory=False.
  df_owner_ff = pd.read_csv("data/zlovac_2023.csv", usecols=owner_ff_cols)

In [ ]:
df_biscom = pd.read_csv("data/zlovac_2023.csv", nrows=1000, usecols=biscom_owners_cols)